/**********************************
GENERAL
***********************************/

body {
  font-family: lato, sans-serif;
  max-width: 860px;
  margin: auto;
  line-height: 1.5;
    font-size: 20px;
}

#wrapper {
/*  max-width: 940px;*/
  padding: 0 5%;
}

a {
  text-decoration: underline;
    
}

img {
  max-width: 100%;
    
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 40px 0 20px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: 
  padding: 5px;
}

aside {
display: inline-block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: 35px 0;
    padding: 0; 
}


main {
    display: block;
}
/**********************************
HEADER
***********************************/


.header {
  margin: 0 0 15px 0;
  width: 100%;
  max-width: 940px;
  border-bottom:1px solid #E0E7E9
}

.header-measure {
 max-width:940px;
 margin-left:auto;
 margin-right:auto
}

.header-measure:after {
  content:"";
  display:table;
  clear:both
 }

.header-logo {
 margin-top:20px;
 margin-bottom:20px;
    margin-left: 30px;
 padding-left:0px;
 line-height:30px;
 font-size:26px;
 font-weight: bolder;
 font-family: Lato, Arial, sans-serif;
 //letter-spacing:-0.03em
}

.header-logo a {
 color:#0B0C0C;
 text-decoration:none
}

@media (min-width: 30em) {
 .header-logo {
  float:left;
  margin-top:25px
 }
    }
@media (min-width: 77.5em) {
 .header-logo {
  padding-left:0
 }
}
 
.header-nav
{
 border-top:1px solid #E0E7E9;
 border-bottom:1px solid #E0E7E9;
 padding-left:5px;
 padding-right:5px
}
@media (min-width: 30em) {
 .header-nav {
  float:right;
  border-top:none;
  border-bottom:none;
  margin-top:15px;
 }
}

.header-measure {
   display: block
}


.nav ul {
 list-style:none;
 white-space:nowrap;
 font-size:0px
}

.nav li {
 display:inline-block;
 line-height:20px;
 font-size:18px
}


@media (min-width: 30em) {
 .nav ul {
  white-space:normal;
  overflow-x:initial
 }
}
.nav li {
 display:inline-block;
 line-height:20px;
 font-size:18px;

}
.nav a:link,
.nav a:visited {
 text-decoration:none;
 display:block;
 color:#545454;
 padding:15px 15px 15px;
 border-bottom:5px solid #fff
}
@media (min-width: 30em) {
 .nav a:link,
 .nav a:visited {
  padding-top:17px;
  padding-bottom:20px
 }
}
.nav a:focus {
 position:relative;
 outline-offset:-3px
}
.nav a:hover {
 color:#0B0C0C
}
.nav a:active,
.nav a[aria-current=true]:active {
 background-color:#F2F7F9
}
.nav a:active {
 background-color:#F2F7F9;
 border-color:#F2F7F9
}
.nav a[aria-current=true]:active {
 border-color:#1F4086;
}
.nav a[aria-current=true] {
 font-weight:bold;
 color:#0B0C0C;
 border-bottom:5px solid #A80000
}

/**********************************
PHOTO
***********************************/

.profile-photo {
  float: left
  margin: 0 auto 30px;
  max-width: 300px;
}

/**********************************
Intro
***********************************/

.intro {
    margin-top: 50px;
    margin-bottom: 50px;
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/**********************************
Articles
***********************************/

.article {
  padding: 0 5%;
  margin-bottom: 150px;
}

.article p {
  font-family: Lato, sans-serif;
  color: #555;
  line-height: 1.3;
  font-size: 1em;
}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #FFF7F8;
  color: #2D2D2A;
}


/* logo text */
h1, h3 {
  color: #333;
}

h2 {
  color: #333
}

h4 {
  color: #555;
  margin-top: 30px
}

/* links */
a {
  color: #BB342F;
}

















